.leisure-icon-2263,
.leisure-icon-2222,
.leisure-icon-2264,
.leisure-icon-2267,
.leisure-icon-2260,
.leisure-icon-2270,
.leisure-icon-2315,
.leisure-icon-2268,
.leisure-icon-2265,
.leisure-icon-2333,
.leisure-icon-2269,
.leisure-icon-2266,
.leisure-icon-all{
  background-repeat: no-repeat;
  background-position: center;
}
.leisure-icon-2263{
  background-image: url(~assets/img/MVP/themepark.svg);
}
.leisure-icon-2222{
  background-image: url(~assets/img/MVP/waterpark.svg);
}
.leisure-icon-2264{
  background-image: url(~assets/img/MVP/sportsoutside.svg);
}
.leisure-icon-2267{
  background-image: url(~assets/img/MVP/show.svg);
}
.leisure-icon-2260{
  background-image: url(~assets/img/MVP/watersports.svg);
}
.leisure-icon-2270{
  background-image: url(~assets/img/MVP/carrental.svg);
}
.leisure-icon-2315{
  background-image: url(~assets/img/MVP/fishing.svg);
}
.leisure-icon-2268{
  background-image: url(~assets/img/MVP/kids.svg);
}
.leisure-icon-2265{
  background-image: url(~assets/img/MVP/rental.svg);
}
.leisure-icon-2333{
  background-image: url(~assets/img/MVP/class.svg);
}
.leisure-icon-2269{
  background-image: url(~assets/img/MVP/camping.svg);
}
.leisure-icon-2266{
  background-image: url(~assets/img/MVP/tour.svg);
}
.leisure-icon-categoryAll{
  background-image: url(~assets/img/MVP/icon-category-all.svg);
}
.leisure-icon-more{
  background-image: url(~assets/img/MVP/plus.png);
}
.icon-ticket{
  background-image: url(~assets/img/icon-ticket-black.svg);
}
.icon-location{
  background-image: url(~assets/img/icon-area-black.svg);
}
.icon-location-pin{
  background-image: url(~assets/img/icon-area-black.svg);
}

